body{
    margin: 0; /* 外边距 */
    padding: 0; /* 内边距 */
    background: url("111.jfif") no-repeat;
    /* 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-size: cover;
    /* 定位背景图像为正中间 */
    background-position-x: center;
  }
  
  img{
    width: 450px;
    height: 600px;
  }
  .card{
    position: absolute; /* 绝对定位 */
    top: 50%; /* 距上部 */
    left: 50%; /* 距左部 */
    width: 450px;
    height: 600px;
    background: #fff;
    transform-style: preserve-3d; /* 开启3D空间 */
    transform: translate(-50%,-50%) perspective(2000px); /* 移动X,Y */
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5); /*阴影*/
    transition: 1s;
  }
  .card:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 10px 100px rgba(0, 0, 0, 0.5);
  }
  .card::before{ /*上边框*/ 
    content: '';
    position: absolute;
    top:-5px;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 10;
    background: #c4c5c2;
    transform: skewX(-45deg); /*X轴扭曲*/
  }
  .card::after{ /*右边框*/
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background-color: #c4c5c2;
  }
  .card .imgBox{ /*图片*/
    user-select: none; /*不可选取*/
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left; /*更改元素变形位置*/
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
  
  }
  .card:hover .imgBox{
    transform: rotateY(-155deg); /*Y轴转动*/
  }
  .card .details{ /*文本效果*/
    position: absolute;
    top:0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
  }
#box{
    width: 150px;
    z-index: 100;
    height: 200px;
    /* border: 1px solid red; */
    position: absolute;
    right:20%;
    top:20%;
    rotate: 90;
    margin: 40px auto;
    
}
#c{
    rotate: 90;
    width: 150px;
    height: 200px;
    text-align:right;
    margin: auto;
}
#box1{
    width: 1500px;
    z-index: 100;
    height: 2000px;
    /* border: 1px solid red; */
    position: absolute;
    right:20%;
    top:20%;
    rotate: 90;
    margin: 40px auto;
    
}
#c1{
    rotate: 90;
    width: 2000px;
    height: 20000px;
    text-align:right;
    margin: auto;
}

